CHEWCODE_PROJECT_ROOT=/path/to/chewcode
CHEWCODE_OPENCODE_BIN=opencode
CHEWCODE_NODE_BIN=node
CHEWCODE_OPENCODE_PORT=4101
CHEWCODE_OPENCODE_HOST=127.0.0.1
CHEWCODE_BRIDGE_PORT=8091
CHEWCODE_BRIDGE_HOST=127.0.0.1
CHEWCODE_BRIDGE_TOKEN=change-me
CHEWCODE_PROJECT_ALLOWED_ROOTS=${HOME}/projects
CHEWCODE_PROJECT_REGISTRY_FILE=${HOME}/.local/state/chewcode/projects-registry-8091.json
